apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: project1
  name: project1
spec:
  replicas: 3
  selector:
    matchLabels:
      app: project1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: project1
    spec:
      containers:
      - image: joaosena22/project1:latest
        name: project1
        resources: {}
status: {}
---
apiVersion: v1
kind: Service
metadata:
  name: lb-service
  labels:
    app: lb-service
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 5000
  selector:
    app: project1
